@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: #212121;
  --background-navbar-rgb: #1e1c1c;
  --background-header-rgb: #ff4545;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
  text-emphasis-color: rgb(var(--background-header-rgb));
} 


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
